<% comment_counts = {} %>

<% @friend_feed.each do |item| %>
  <% if item["comments"] %>
    <% item["comments"]["data"].each do |comment| %>
      <% comment_counts[comment["from"]["id"]] ||= {:count => 0, :name => comment["from"]["name"]} %>
      <% comment_counts[comment["from"]["id"]][:count] += 1 %>
    <% end %>
  <% end %>
<% end %>

<ul>
<% comment_counts.sort{|a,b| b[-1][:count] <=> a[-1][:count] }.each do |(uid,data)| %>
  <li><%= data[:count] %> - <%= data[:name] %></li>
<% end %>
</ul>