.span-4.colborder
  %h2 Your Likes
  - @likes_by_category.each do |category, likes|
    %h3= category
    %ul
      - likes.each do |like|
        %li= like['name']

%div.span-13.colborder
  %h2 Your Friends
  #friends

%div.span-5.last
  %h4 Friend Commenter Counts
  #friendCommentorCounts Click on a friends name to view their commenter counts!