.span-4.colborder
  %h2 Your "likes":
  - @likes_by_category.each do |category, likes|
    %h3= category
    %ul
      - likes.each do |like|
        %li= like['name']

%div.span-13.colborder
  %h2 Your "friends":
  #friends

%div.span-5.last
  #friendCommentorCounts